{% extends "layout.html" %}
{% block content %}
    <h1>Add a new recipe now!!!</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        
        <p> {{form.title.label}}</br>
        <p>{{form.title()}}</p>

        <p>{{form.description.label}}</br>
        <p>{{form.description()}}</p>

        <p>{{form.ingredients.label}}</br>
        <p>{{form.ingredients()}}</p>
        
        <p>{{form.instructions.label}}</br>
        <p>{{form.instructions()}}</p>

        <p>{{form.submit()}}</p>
    </form>

{% endblock content %}