{% extends "layout.html" %}
{% block content %}
    <h1>Register</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.username.label }}
        {% if form.username.errors %}
            {{ form.username() }}
                {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
        {% else %}
            {{ form.username() }}
        {% endif %}

        {{ form.password.label }}
        {% if form.password.errors %}
            {{ form.password() }}
                {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
        {% else %}
            {{ form.password() }}
        {% endif %}

        {{ form.submit() }}
    </form>

    <div>
        <small>
            Already Have An Account? <a href="{{ url_for('login') }}">Sign In</a>
        </small>
    </div>
{% endblock content %}